{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mt-4 text-end">
        <button class="btn btn-success"><i class="bi bi-check-lg me-1"></i>{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
